.container {
    height: 100vh;
    background-color: #15202B;
    display: flex;
}

.blockLeft {
    width: 25%;
    border-right: 1px solid #2f3336;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding-left: 20px;
    padding-bottom: 40px;
}

.blockCenter {
    padding-top: 1%;
    width: 45%;    
    display: flex;
    flex-direction: column;
}

.blockRight {
    width: 30%;
    border-left: 1px solid #2f3336;
}

.newTweet {
    height: 30%;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
}

.input {
    height: 33%;
    width: 90%;
    color: white;
    border-bottom: 1px solid #2f3336;
    white-space: inherit ;
}

.buttonTweet {
    cursor: pointer;
    background-color: #1D9BF0;
    color: white;
    width: 180px;
    height: 40px;
    border-radius: 20px;
    margin-left: 5%;
}

.allTweet {
    height: 70%;
    border: 1px solid #2f3336;
    overflow-y: scroll;
}

.title1 {
    color: white;
    font-size: 30px;
}

.title2 {
    color: white;
    font-size: 30px;
}

.countButton {
    width: 50%;
    display: flex;
    justify-content: end;
    align-items: center;
    margin-left: 35%;
}

.countLetter {
    color: white;
}

.boxLogout {
    height: 12%;
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.boxProfil {
    font-size: 20px;
    width: 40%;
    display: flex;
    justify-content: space-around;
    padding-left: 5%;
    padding-right: 5%;
}

.buttonLogout {
    cursor: pointer;
    border: 1px solid gray;
    color: white;
    width: 180px;
    height: 40px;
    border-radius: 20px;
    margin-left: 5%;
}