.container {
    display: flex;
    height: 100vh;
}

.backgroundLeft {
    background-image: url("/fond.png");
    width: 40%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.backgroundRight {
    background-color: black;
    width: 60%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    padding-left: 20px;
}

.title1 {
    color: white;
    font-size: 80;
}

.title2 {
    color: white;
    font-size: 30;
}

.text {
    color: white;
}

.buttonSignUp {
    cursor: pointer;
    background-color: blue;
    color: white;
    width: 150px;
    border-radius: 10px;
}

.buttonSignIn {
    cursor: pointer;
    background-color: blue;
    color: white;
    width: 150px;
    border-radius: 10px;
}

.modal {
    height: 30%;
    width: 30%;
}