
.container {
    display: flex;
    height: 100vh;
    font-weight: 900;
    
}

.backgroundLeft {
    background-image: url("/fond.png");
    width: 40%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.backgroundRight {
    background-color: #15202B;
    width: 60%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    padding-left: 40px;
}

.title1 {
    color: white;
    font-size: 80;
}

.title2 {
    color: white;
    font-size: 30;
}

.text {
    color: white;
}

.buttonSignUp {
    cursor: pointer;
    background-color: #1D9BF0;
    color: white;
    width: 180px;
    height: 40px;
    border-radius: 20px;
}

.buttonSignUp2 {
    cursor: pointer;
    background-color: white;
    color: #15202B;
    width: 200px;
    height: 30px;
    border-radius: 20px;
    margin-top: 3%;
    font-size: 15px;
}

.buttonSignIn {
    cursor: pointer;
    background-color: #15202B;
    color: #1D9BF0;
    width: 180px;
    height: 40px;
    border-radius: 20px;
    border: 1px solid white;
}

.buttonSignIn2 {
     cursor: pointer;
    background-color: white;
    color: #15202B;
    width: 200px;
    height: 30px;
    border-radius: 20px;
    margin-top: 3%;
}

.modal {
    position: absolute;
    top: 20%;
    left: 35%;
    height: 40%;
    width: 21%;
    border-radius: 15px;
    background-color: rgb(24, 24, 24);
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    border-radius: 10px;  
    overflow: auto;
    padding-bottom: 25px;
    font-size: 20px;
}

.modal2 {
    position: absolute;
    top: 20%;
    left: 35%;
    height: 40%;
    width: 21%;
    border-radius: 15px;
    background-color: rgb(24, 24, 24);
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    border-radius: 10px;
    overflow: auto;
    padding-bottom: 60px;
}

.buttonX {
    cursor: pointer;
    font-size: 15px;
    margin-left: 70%;
    margin-top: 5%;
}

.input {
    padding-left: 10px;
    color: white;
    border: 1px solid white;
    height: 35px;
    border: 1px solid gray;
    font-size: 15px;
}

.buttonContainer {
    height: 30%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    margin-bottom: 20%;
}