.container {
    display: flex;
    height: 100vh;
}

.backgroundLeft {
    background-image: url("/fond.png");
    width: 40%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.backgroundRight {
    background-color: #15202B;
    width: 60%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    padding-left: 40px;
}

.title1 {
    color: white;
    font-size: 80;
}

.title2 {
    color: white;
    font-size: 30;
}

.text {
    color: white;
}

.buttonSignUp {
    cursor: pointer;
    background-color: #1D9BF0;
    color: white;
    width: 180px;
    height: 40px;
    border-radius: 20px;
}

.buttonSignIn {
    cursor: pointer;
    background-color: #15202B;
    color: #1D9BF0;
    width: 180px;
    height: 40px;
    border-radius: 20px;
    border: 1px solid white;
}

.modal {
    height: 30%;
    width: 30%;
    background-color: white;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    border-radius: 10px;
}

.input {
    color: black;
    border: 1px solid black;
}

.buttonContainer {
    height: 30%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    margin-bottom: 20%;
}