.trend {
    padding: 10px 0;
    display: flex;
    flex-direction: column;
    cursor: pointer;
    transition: background-color 0.2s ease;
}

.trend:hover {
    background-color: rgba(255, 255, 255, 0.05);
}

.name {
    font-weight: bold;
    font-size: 18px;
    color: white;
}

.count {
    font-size: 14px;
    color: grey;
}