.trend {
    padding: 10px 0;
    border-bottom: 1px solid #333;
}

.name {
    font-weight: bold;
    font-size: 18px;
    color: white;
}

.count {
    font-size: 14px;
    color: grey;
}