.trend {
    padding: 10px 0;
    display: flex;
    flex-direction: column;
}

.name {
    font-weight: bold;
    font-size: 18px;
    color: white;
}

.count {
    font-size: 14px;
    color: grey;
}